* {
    padding: 0;
    margin: 0;
}

#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    /* center the game */
    margin: 10px auto;
    /* hide the block when it moves out of the game */
    overflow: hidden;
}

#block {
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    /* position the block to the right */
    left: 400px;
    /* move the block to the left */
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 400px;
    }

    100% {
        left: -50px;
    }
}

#hole {
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    /* move the hole to the top */
    top: -500px;
    /* position the block to the right */
    animation: block 2s infinite linear;
}
